html {
  background-color: black;
}
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK|Roboto&display=swap");

h1,
div {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Noto Sans HK", sans-serif;
}

.wholepage {
  background-color: white;
  color: black;
  padding: 5px;
  margin: 1%;
}

.general,
.sanfran,
.kc,
.sanMascot,
.kanMascot {
  display: none;
  padding: 5px;
  background-color: lightblue;
  border-radius: 10px;
}

.space {
  height: 30px;
}
.frame {
  text-align: center;
}

.football {
  max-width: 80%;
  height: auto;
  text-align: center;
  margin: 8%;
}
.wolf,
.sam {
  max-width: 35%;
  height: auto;
}

.mid {
  text-align: center;
}
