.wholepage {
  background-color: white;
  color: black;
  padding: 5px;
  margin: 1%;
}

.general,
.sanfran,
.kc {
  display: none;
  background-color: lightblue;
  color: black;
  padding: 5px;
}

.space {
  height: 30px;
}
