html {
  background-color: black;
}

.wholepage {
  background-color: white;
  color: black;
  padding: 5px;
  margin: 1%;
}

.general,
.sanfran,
.kc,
.sanMascot,
.kanMascot {
  display: none;
  padding: 5px;
  background-color: lightblue;
  border-radius: 10px;
}

.space {
  height: 30px;
}
.frame{
  text-align: center;
}
.wolf,
.sam {
  max-width: 35%;
  height: auto;
}


.mid{
  text-align: center;
}
